:root {
    --aragon-green100: rgba(227, 245, 237, 1);
    --aragon-green200: rgba(200, 234, 219, 1);
    --aragon-green300: rgba(143, 213, 182, 1);
    --aragon-green400: rgba(82, 190, 142, 1);
    --aragon-green500: rgba(62, 162, 118, 1);
    --aragon-green600: rgba(51, 133, 97, 1);
    --aragon-green700: rgba(40, 106, 77, 1);
    --aragon-green800: rgba(30, 79, 58, 1);
    --aragon-green900: rgba(21, 54, 40, 1);
    --aragon-green1000: rgba(12, 31, 23, 1);
    --title-1-font-family: "Roboto-Bold", Helvetica;
    --title-1-font-weight: 700;
    --title-1-font-size: 64px;
    --title-1-letter-spacing: 0px;
    --title-1-line-height: 120.00000476837158%;
    --title-1-font-style: normal;
    --title-2-font-family: "Roboto-Bold", Helvetica;
    --title-2-font-weight: 700;
    --title-2-font-size: 56px;
    --title-2-letter-spacing: 0px;
    --title-2-line-height: 120.00000476837158%;
    --title-2-font-style: normal;
    --title-3-font-family: "Roboto-Bold", Helvetica;
    --title-3-font-weight: 700;
    --title-3-font-size: 48px;
    --title-3-letter-spacing: 0px;
    --title-3-line-height: 120.00000476837158%;
    --title-3-font-style: normal;
    --title-4-font-family: "Roboto-Bold", Helvetica;
    --title-4-font-weight: 700;
    --title-4-font-size: 28px;
    --title-4-letter-spacing: 0px;
    --title-4-line-height: 150%;
    --title-4-font-style: normal;
    --title-5-font-family: "Roboto-Bold", Helvetica;
    --title-5-font-weight: 700;
    --title-5-font-size: 20px;
    --title-5-letter-spacing: 0px;
    --title-5-line-height: 150%;
    --title-5-font-style: normal;
    --title-6-font-family: "Roboto-Bold", Helvetica;
    --title-6-font-weight: 700;
    --title-6-font-size: 14px;
    --title-6-letter-spacing: 0px;
    --title-6-line-height: 150%;
    --title-6-font-style: normal;
    --variable-collection-1: rgba(33, 136, 43, 1);
    --variable-collection-2: rgba(0, 0, 0, 1);
    --variable-collection-3: rgba(217, 217, 217, 0.72);
    --variable-collection-4: rgba(255, 255, 255, 1);
    --variable-collection-5: rgba(250, 225, 0, 1);
    --variable-collection-6: rgba(217, 217, 217, 1);
}
